# OS
Thumbs.db
Desktop.ini
.DS_Store

# Editor
.vscode/
.idea/
*.swp

# Temp
~$*.xlsx
~$*.csv

# Dokumen resmi (unduh dari Puspresnas, jangan commit)
Kisi-kisi_page_*.png
Teknis_page_*.png
